<div id="about-us" class="page">
    <div class="blurred-sushi" style="width:335px;float:left;height:100%;">
        
    </div>
    <div style="width:406px;float:left;height:100%">
        <div class="title">About Us</div>
        <div class="body">
            Sed auctor neque tellus rhoncus ut eleifend nibh
            porttitor. Ut in nulla enim. Phasellus molestie magna
            non est bibendum non venenatis nisl tempor.
            Suspendisse disctum feugiat nisl ut dapibus. Mauris 
            iaculis porttitor posuere. Praesent id metus massa, ut
            blandit odio. Proin quis tortor orci. Etiam at risus et
            justo dignissim congue. Donec congue lacinia dui, a
        </div>
    </div>
    <div id="parallax-sushi" style="width:598px;float:left;margin-left:61px;height:100%">
        <div class="caviar" data-400="top:0px;" data-600="top:90px;"></div>
        <div class="shrimp" data-400="top:0px;" data-600="top:40px;"></div>
        <div class="rice" data-400="top:0px;" data-600="top:-30px;"></div>
        <div class="chopsticks" data-400="top:0px;" data-600="top:-80px;"></div>
    </div>
    <div style="clear:both"></div>
</div>