<div id="about-us" class="page">
    <link rel="stylesheet" href="~/js/externals/colorbox/colorbox.css" />
    <script type="text/javascript" src="~/js/externals/colorbox/jquery.colorbox.js"></script>
    <div style="position: relative; width: 960px; margin: 0 auto;" class="wrapper">
        <div class="blurred-sushi" style="width: 335px; position: absolute; left: -220px; height: 700px;" data-400="background-position: 0 350px" data-600="background-position: 0 150px;">
        </div>
        <div style="width: 406px; position: absolute; left: 123px; height: 100%">
            <div class="title">About Us</div>
            <div class="body">
                Sed auctor neque tellus rhoncus ut eleifend nibh
                porttitor. Ut in nulla enim. Phasellus molestie magna
                non est bibendum non venenatis nisl tempor.
                Suspendisse disctum feugiat nisl ut dapibus. Mauris 
                iaculis porttitor posuere. Praesent id metus massa, ut
                blandit odio. Proin quis tortor orci. Etiam at risus et
                justo dignissim congue. Donec congue lacinia dui, a
            </div>
            <div class="movie" style="text-align: center; margin-top: 10px;">
                <a href="http://player.vimeo.com/video/18516820?autoplay=true" title="Good Times Sushi" id="sushi-movie">
                    <img src="~/images/aboutus/movie-thumbnail.png" />
                </a>
            </div>
        </div>
        <div id="parallax-sushi" style="width: 598px; position: absolute; left: 582px; height: 100%">
            <div class="caviar" data-400="top:0px;" data-600="top:90px;"></div>
            <div class="shrimp" data-400="top:0px;" data-600="top:40px;"></div>
            <div class="rice" data-400="top:0px;" data-600="top:-30px;"></div>
            <div class="chopsticks" data-400="top:0px;" data-600="top:-80px;"></div>
        </div>
    </div>
    <div style="display: none" id="movie-player-wrapper">
        <div id="movie-player-overlay"></div>
        <div id="movie-player-container">
            <div id="movie-player">
                <iframe id="movie-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
