<div id="connect" class="page">
    <div class="connect-container">
		<div class="bubble-container">
			<div class="title">Connect</div>
			<div class="bubble one" data-3100="top:200px" data-3600="top:0px">
				<a class="bubble-inner" href="#connect" target="_blank">
					<div class="text"></div>
					<div class="timestamp"></div>
				</a>
			</div>
			<div class="bubble two" data-3100="top:600px" data-3800="top:350px">
				<a class="bubble-inner" href="#connect" target="_blank">
					<div class="text"></div>
					<div class="timestamp"></div>
				</a>
			</div>
			<div class="bubble three" data-3100="top:300px" data-3900="top:140px">
				<a class="bubble-inner" href="#connect" target="_blank">
					<div class="text"></div>
					<div class="timestamp"></div>
				</a>
			</div>
			<div class="bubble four" data-3100="top:150px" data-3400="top:40px">
				<a class="bubble-inner" href="#connect" target="_blank">
					<div class="text"></div>
					<div class="timestamp"></div>
				</a>
			</div>
			<div class="bubble five" data-3100="top:480px" data-3600="top:370px">
				<a class="bubble-inner" href="#connect" target="_blank">
					<div class="text"></div>
					<div class="timestamp"></div>
				</a>
			</div>
		</div>
	</div>
</div>