<div id="connect" class="page">
    <div class="connect-container">
		<div class="title">Connect</div>
		<div class="bubble one">
			<div class="text"></div>
			<div class="timestamp"></div>
		</div>
		<div class="bubble two">
			<div class="text"></div>
			<div class="timestamp"></div>
		</div>
		<div class="bubble three">
			<div class="text"></div>
			<div class="timestamp"></div>
		</div>
		<div class="bubble four">
			<div class="text"></div>
			<div class="timestamp"></div>
		</div>
		<div class="bubble five">
			<div class="text"></div>
			<div class="timestamp"></div>
		</div>
	</div>
</div>