<div id="connect" class="page">
    <div class="connect-container">
		<div class="title">Connect</div>
		<div class="bubble one">
			<div class="text">bubble 1</div>
			<div class="timestamp">a while ago</div>
		</div>
		<div class="bubble two">
			<div class="text">bubble 2</div>
			<div class="timestamp">a while ago</div>
		</div>
		<div class="bubble three">
			<div class="text">bubble 3</div>
			<div class="timestamp">a while ago</div>
		</div>
		<div class="bubble four">
			<div class="text">bubble 4</div>
			<div class="timestamp">a while ago</div>
		</div>
		<div class="bubble five">
			<div class="text">bubble 5</div>
			<div class="timestamp">a while ago</div>
		</div>
	</div>
</div>