<div id="header">
    <div class="navigation">
        <ul class="nav">@*Needed for scrollspy*@
            <img id="logo" src="~/Images/header-logo.png" />
            <li><a href="#home">Home</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#menu">Menu</a></li>
            <li class="loc-nav"><a href="#maps">Location</a></li>
            <li><a href="#jobs">Jobs</a></li>
            <li><a href="#connect">Connect</a></li>
        </ul>
    </div>
</div>