 <script>
    $(function(){
        $("#home-slides").slides({
            play: 5000,
            pause: 5000
        });
    });
</script>

<div id="home" class="page">
    <div id="home-slides">
        <div class="slides_container">
            <div>
                <img src="~/Images/sassycouple.png" />
            </div>
            <div>
                <img src="~/Images/sushipr0n.png" />
            </div>
            <div>
                <img src="~/Images/boatlady.png" />
            </div> 
        </div>
    </div>

    <div class="highlights">
        <div class="content">
            <img class="logo" src="~/Images/logo.png" />
            <ul>
                <li class="featured">
                    <h3>Featured Roll</h3>
                    <img src="~/Images/featured-roll.png" />
                    <p>Nulla at nulla justo, eget luctus tortor. Nulla facilicsi.</p>
                    <a href="#menu">Check Our Menu</a>
                </li>
                <li>
                    <h3>Where Are We?</h3>
                    <p>Nulla at nulla justo, eget luctus tortor. Nulla facilicsi. Duis aliquet egestas purus in.</p>
                    <a href="#maps">Find Your Location</a>
                </li>
                <li>
                    <h3>Work With Us</h3>
                    <p>Nulla at nulla justo, eget luctus tortor. Nulla facilicsi. Duis aliquet egestas purus in.</p>
                    <a href="#jobs">Apply Now!</a>
                </li>
            </ul>    
        </div>
    </div>
</div>