<div id="instagram" class="page">
    <div id="photos"></div>
</div>


<script src="https://api.instagram.com/v1/tags/sushi/media/recent?client_id=c9a67a081d2941da87fa90c3a1d76108&callback=renderInstagram"></script>
