<div id="jobs" class="page">
    <div class="shadow">            
        <div class="jobs-content">
            <div class="picture1" data-2100="top:200px;" data-2600="top:-45px;">
            </div>
            <div class="picture2" data-2100="left:300px" data-2600="left:-28px">
            </div>
            <div class="circle">
                <div class="title">
                    Jobs
                </div>
                <div class="body">
                    Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.
                    <br />
                    <br />
                    Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
                </div>
                <div class="apply">
                    <button class="apply-button">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
</div>