<div id="maps" class="page">
	<div class="map-container">
		<div id="map-canvas"></div>
		<div class="map-overlay"></div>
		<div class="mpls-overlay address">
			<div class="city">Minneapolis</div>
			1000 Nicollet Mall
			Minneapolis, MN 55401
			(612) 123-4567
		</div>
		<div class="paul-overlay address">
			<div class="city">St. Paul</div>
			408 W. 7th
			St. Paul, MN 55401
			(651) 123-4567
		</div>
	</div>
</div>