<div id="menu" class="page">
    <div id="menu-inner">
        <h2>Menu</h2>
        <ul class="menu-links">
            <li><a class="link" id="menu-link-1" href="#1">APPETIZERS</a></li>
            <li><a id="menu-link-2" href="#2" class="link">SAKE</a></li>
            <li><a id="menu-link-3" href="#3" class="link">SUSHI</a></li>
            <li><a id="menu-link-4" href="#4" class="link">DRINKS</a></li>
            <li><a id="menu-link-5" href="#5" class="link">SOUPS/SALADS</a></li>
            <li><a id="menu-link-6" href="#6" class="link">ENTREES</a></li>
            <li><a class="last link" id="menu-link-7" href="#7">HAPPY HOUR</a></li>
        </ul>
        <div class="menu-items">
            <div id="menu-page-1">
                <h3>Page 1</h3>
            </div>
            <div id="menu-page-2">
                <h3>Page 2</h3>
            </div>
            <div id="menu-page-3">
                <h3>Page 3</h3>
            </div>
            <div id="menu-page-4">
                <h3>Page 4</h3>
            </div>
            <div id="menu-page-5">
                <h3>Page 5</h3>
            </div>
            <div id="menu-page-6">
                <h3>Page 6</h3>
            </div>
            <div id="menu-page-7">
                <h3>Page 7</h3>
            </div>
        </div>
    </div>
    <div id="menu-controls">
        <a class="menu-left" href="javascript:void(0);"></a>
        <a class="menu-right" href="javascript:void(0);"></a>
    </div>
</div>