<div id="menu" class="page">
    <div id="menu-inner">
        <h2>Menu</h2>
        <ul class="menu-links">
            <li><a href="#1" class="link" data-page="1">APPETIZERS</a></li>
            <li><a href="#2" class="link" data-page="2">SAKE</a></li>
            <li><a href="#3" class="link" data-page="3">SUSHI</a></li>
            <li><a href="#4" class="link" data-page="4">DRINKS</a></li>
            <li><a href="#5" class="link" data-page="5">SOUPS/SALADS</a></li>
            <li><a href="#6" class="link" data-page="6">ENTREES</a></li>
            <li class="last"><a class="link" href="#7" data-page="7">HAPPY HOUR</a></li>
        </ul>
        <div class="menu-items">
            <div id="menu-page-1">
                <ul class="menu-page">
                    <div class="col">
                        <li>
                            <h3>Ginger Calamari 8.95</h3>
                            <p>Tender strips of calamari, sautéed in ginger sauce and topped with scallions.</p>
                        </li>
                        <li>
                            <h3>Yakitori 5.95</h3>
                            <p>Dark meat chicken on skewers, topped with scallions and teriyaki sauce.</p>
                        </li>
                        <li>
                            <h3>Ebi Fry 8.95</h3>
                            <p>Shrimp breaded Japanese style, served with spicy mayo.</p>
                        </li>
                        <li>
                            <h3>Harumaki 6.95</h3>
                            <p>Japanese style pork egg rolls served with mustard-soy sauce.</p>
                        </li>
                        <li>
                            <h3>Salmon Cream Cheese Wontons</h3>
                            <p>Salmon, cream cheese and scallions topped </p>
                        </li>
                    </div>
                    <div class="col">
                        <li>
                            <h3>Gyoza 5.95</h3>
                            <p>Pan-fried potstickers, served with gyoza sauce.</p>
                        </li>
                        <li>
                            <h3>Shrimp Tempura Appetizer 8.50</h3>
                            <p>2 jumbo shrimp with vegetables, lightly battered and flash fried</p>
                        </li>
                        <li>
                            <h3>Soft Shell Crab 8.50</h3>
                            <p>Flash fried and served with ponzu sauce.</p>
                        </li>
                        <li>
                            <h3>Hamachi Kama 8.95</h3>
                            <p>Grilled Hamachi cheek.</p>
                        </li>
                        <li>
                            <h3>Baked Mussels 8.50</h3>
                            <p>Green lipped mussels topped with Masago cream sauce.</p>
                        </li>
                    </div>
                    <div class="col last">
                        <li>
                            <h3>Kaki Half Shell Market</h3>
                            <p>4 fresh oysters toped with daikon, scallions, Togarrashi and ponzu sauce</p>
                        </li>
                        <li>
                            <h3>Sushi Appetizer 10.95</h3>
                            <p>Chef's choice; Three pieces of nigiri and a maki</p>
                        </li>
                        <li>
                            <h3>Tuna Takati 11.25</h3>
                            <p>Lightly seared tuna topped with ginger, garlic and scallions with ponzu sauce</p>
                        </li>
                        <li>
                            <h3>Tuna Tar Tar 8.95</h3>
                            <p>Diced tuna and avocado, ginger, garlic, lemon and chili oil topped with Tobiko</p>
                        </li>
                        <li>
                            <h3>Age Calamari 9.50</h3>
                            <p>Lightly breaded calamari,  fried and served with wasabi aioli</p>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="menu-page-2">
                <ul class="menu-page">
                    <div class="col">
                        <li>
                            <h3>Hatsumago (Yamagata)</h3>
                            <p>Natural, clean and mildly earthy opening with a creamy sweet melon aroma. </p>
                        </li>
                        <li>
                            <h3>Chikurin Fukamari (Okaymada)</h3>
                            <p>Fukamari, meaning "Depth," is made of 100% home-grown Yamada Nishiki, the most celebrated saké rice.</p>
                        </li>
                        <li>
                            <h3>Kurosawa (Nagano)</h3>
                            <p>Few saké producers are able to provide the meticulous hand-brewing steps required of the Kimoto title.</p>
                        </li>
                    </div>
                    <div class="col">
                        <li>
                            <h3>Ohyama (Yamagata)</h3>
                            <p>Flavorful, light and smooth type. Well-balanced aroma of pear, marshmallow and flower.</p>
                        </li>
                        <li>
                            <h3>Suishin (Hiroshima)</h3>
                            <p>Light, smooth and rich type. Sweetness wraped by rich, fresh acidity that is smooth and light on your palate, which gives a very elegant impression.</p>
                        </li>
                        <li>
                            <h3>Kariho (Akita)</h3>
                            <p>Rich type. Extremely dry and full-bodied saké with expansive savory flavors. Its round sweetness and refreshing acidity are superbly balanced.</p>
                        </li>
                    </div>
                    <div class="col last">
                        <li>
                            <h3>Shichi Hon Yari (Shiga)</h3>
                            <p>"The Seven Spearsmen" this Saké is described as light, approachable and well-balanced. An earthy aroma reveals a light, grapefruit and melon nuance.</p>
                        </li>
                        <li>
                            <h3>Otokoyama (Hokkaido)</h3>
                            <p>Light, smooth and rich type. Light grain-like aroma with a hint of fruity nose. Refreshing lightness with vivid acidity. Very dry saké with sharp, rich and full-bodied taste.</p>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="menu-page-3">
                <ul class="menu-page">
                    <div class="col">
                        <li>
                            <h3>Dynamite (5 pcs)</h3>
                            <p>Yellowtail, white fish with Thai chilies, scallions, lettuce, cucmber and radish sprouts</p>
                        </li>
                        <li>
                            <h3>Philly (6 pcs)</h3>
                            <p>Smoked salmon with Tobiko, cream cheese, scallions and sesame seeds</p>
                        </li>
                        <li>
                            <h3>Salmon Skin (5 pcs)</h3>
                            <p>Grilled salmon skin with pickled burdock root, cucumber, bonito flakes and radish sprouts</p>
                        </li>
                        <li>
                            <h3>Futo (5 pcs)</h3>
                            <p>Spinach, cucumber, pickled radish and squash, tamago and inari tofu</p>
                        </li>
                    </div>
                    <div class="col">
                        <li>
                            <h3>Spider (5 pcs)</h3>
                            <p>Flash-fried soft shell crab with pickled burdock root, cucumber and radish sprouts</p>
                        </li>
                        <li>
                            <h3>Caterpillar (8 pcs)</h3>
                            <p>Unagi and cucumber wrapped in avocado,  topped with Unagi sauce and sesame seeds</p>
                        </li>
                        <li>
                            <h3>Spicy Tuna (5 pcs)</h3>
                            <p>Tuna, spicy mayo with lettuce, avocado, pickled burdock root and radish sprouts</p>
                        </li>
                        <li>
                            <h3>Spicy Salmon (5 pcs)</h3>
                            <p>Salmon, spicy mayo with lettuce, avocado, pickled burdock root and radish sprouts</p>
                        </li>
                    </div>
                    <div class="col last">
                        <li>
                            <h3>New York (8 pcs)</h3>
                            <p>Spicy tuna inside out, with pickled burdock root and radish sprouts, wraped in Ahi tuna and avocado</p>
                        </li>
                        <li>
                            <h3>Tempura (5 pcs)</h3>
                            <p>Shrimp Tempura with Masago, pickled burdock root, cucumber and radish sprouts</p>
                        </li>
                        <li>
                            <h3>Crunchy (8 pcs)</h3>
                            <p>Shrimp Tempura with cucumber and spicy mayo, wrapped in Tempura flakes and Masago. Topped with Unagi sauce</p>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="menu-page-4">
                <ul class="menu-page">
                    <div class="col">
                        <li>
                            <h3>
                                Dr. Loosen Dr. L. Riesling
                                <br />
                                Mosel, Germany
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Stella Pinot Grigio
                                <br />
                                Italy
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Montevina Pinot Grigio
                                <br />
                                California
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Danubio Gruner Veltliner
                                <br />
                                Austria
                            </h3>
                        </li>
                        <li>
                            <h3>
                                New Harbor Sauvignon Blanc
                                <br />
                                New Zealand
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Stephen Vincent Sauvignon Blanc
                                <br />
                                California
                            </h3>
                        </li>
                    </div>                    
                    <div class="col">
                        <li>
                            <h3>
                                Mark Bredif Vouvray
                                <br />
                                France
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Oxford Landing Chardonnay
                                <br />
                                Australia
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Talbott Kali Hart Chardonnay
                                <br />
                                California
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Sonoma Cutrer Chardonnay
                                <br />
                                California
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Chalone Pinot Noir
                                <br />
                                California
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Finca Antigua Tempranillo
                                <br />
                                Spain
                            </h3>
                        </li>
                    </div>
                    <div class="col last">
                        <li>
                            <h3>
                                Sterling Merlot
                                <br />
                                Central Coast, California
                            </h3>
                        </li>
                        <li>
                            <h3>
                                El Portillo Malbec
                                <br />
                                Argentina
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Calina Cabernet Sauvignon
                                <br />
                                Chile
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Ringbolt Cabernet Savignon
                                <br />
                                Australia
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Archetype Cabernet/Shiraz
                                <br />
                                Australia
                            </h3>
                        </li>
                        <li>
                            <h3>
                                Ventisquero Carmenere
                                <br />
                                Chile
                            </h3>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="menu-page-5">
                <ul class="menu-page">
                    <div class="col">
                        <li>
                            <h3>Miso (v) 2.75</h3>
                            <p>Soybean paste in Kombu stock with wakame seaweed, tofu and scallions</p>
                        </li>
                        <li>
                            <h3>Sumashi 2.75</h3>
                            <p>Shitake mushroom infused Dashi broth with mushrooms and scallions.</p>
                        </li>
                    </div>                    
                    <div class="col">
                        <li>
                            <h3>Kaiso 5.95</h3>
                            <p>Variety of marinated seaweed, served over sliced cucumbers with ponzu</p>
                        </li>
                        <li>
                            <h3>Sunomono</h3>
                            <p>Pickled  cumcumber salad with sweet vinigrette, daikon and kaiware.</p>
                        </li>
                        <li>
                            <h3>Sansai 6.75</h3>
                            <p>Mountain fern salad with your choice of marinated Tako or Ika</p>
                        </li>
                        <li>
                            <h3>Tuna Takati Salad 16.95</h3>
                            <p>Seared Ahi tuna served on a bed of mixed greens</p>
                        </li>
                    </div>
                    <div class="col last">
                        <li>
                            <h3>Sashimi Avocado Salad</h3>
                            <p>Sashimi marinated in gomae sauce and served on a bed of mixed greens</p>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="menu-page-6">
                <ul class="menu-page">
                    <div class="col">
                        <li>
                            <h3>Sesame Encrusted Tuna 20.95</h3>
                            <p>Ahi tuna, encrusted in a combination of white and black sesame seeds. Cooked to medium rare.</p>
                        </li>
                        <li>
                            <h3>Yakiniku 20.95</h3>
                            <p>Thinly sliced ribeye, marinated in our house-made ginger-soy sauce, then sautéed in sweet soy with garlic.</p>
                        </li>
                        <li>
                            <h3>Black Angus Toban Yaki 23.95</h3>
                            <p>Center cut black angus beef cooked on a Ceramic Toban plate seasoned with garlic butter and soy.</p>
                        </li>
                        <li>
                            <h3>Pan Roasted Duck 21.95</h3>
                            <p>Half duck marinated, baked, then pan seared with our house-made teriyaki sauce.</p>
                        </li>
                    </div>                    
                    <div class="col">
                        <li>
                            <h3>Charred Sea Bass 21.95</h3>
                            <p>Char broiled Chilean sea bass, topped with mango salsa and served on a bed of rice.</p>
                        </li>
                        <li>
                            <h3>Baked Chicken Teriyaki 19.50</h3>
                            <p>Half chicken, marinated with our house-made teriyaki sauce.</p>
                        </li>
                        <li>
                            <h3>Salmon Shio-Yaki 19.95</h3>
                            <p>King salmon, lightly salted and grilled.  Teriyaki salmon also available</p>
                        </li>
                        <li>
                            <h3>Sukiyaki 21.50</h3>
                            <p>Traditional family recipe including sliced ribeye, mushrooms, tofu and vegetables simmered in house-made Sukiyaki sauce</p>
                        </li>
                    </div>
                    <div class="col last">
                        <li>
                            <h3>Reiko's 21.95</h3>
                            <p>Yakitori, shrimp and vegetable tempura & New York strip</p>
                        </li>
                        <li>
                            <h3>Fuji-Ya Special 22.95</h3>
                            <p>Ebi fry and Aji, six pieces of sashimi, and grilled salmon</p>
                        </li>
                        <li>
                            <h3>Vegetarian 16.50</h3>
                            <p>Sautéed asparagus, agedashi tofu, spinach gomae and kaiso salad</p>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="menu-page-7">
                <ul class="menu-page">
                    <div class="col">
                        <li><h3>EDAMAME (soy beans) $4.00</h3></li>
                        <li><h3>GYOZA (potstickers) $3.25/$4.00</h3></li>
                        <li><h3>HARUMAKI (veggie or pork eggroll) $4.50</h3></li>
                        <li><h3>EBI FRY (breaded shrimp) $3.50</h3></li>
                        <li><h3>YAKITORII (chicken skewers) $4.25</h3></li>
                        <li><h3>TAKO YAKI $5.50</h3></li>
                        <li><h3>SALMON WONTONS $3.50</h3></li>
                        <li><h3>OKONOMIYAKI (seafood pancake) $5.50</h3></li>
                        <li><h3>KARAAGE (chiken niblets) $3.50</h3></li>
                    </div>                    
                    <div class="col">
                        <li><h3>MAGURO BIN CHO/ALBACORE TUNA</h3></li>
                        <li><h3>SHAKE/SALMON</h3></li>
                        <li><h3>HAMACHI/YELLOWTAIL</h3></li>
                        <li><h3>EBI/COOKEDSHRIMP</h3></li>
                        <li><h3>MUTSU/ESCOLAR</h3></li>
                    </div>
                    <div class="col last">
                        <li><h3>AVOCADO/AVOCADO</h3></li>
                        <li><h3>KAMPYO/MARINATED GUORD</h3></li>
                        <li><h3>VEGGIE WINTER ROLL</h3></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div id="menu-controls">
        <a class="menu-left" href="javascript:void(0);"></a>
        <a class="menu-right" href="javascript:void(0);"></a>
    </div>
</div>