<div id="menu" class="page">
    <div id="menu-inner">
        <h2>Menu</h2>
        <ul id="menu-links">
            <li><a class="active" id="menu-link-1" href="javascript:void(0);">APPETIZERS</a></li>
            <li><a id="menu-link-2" href="javascript:void(0);">SAKE</a></li>
            <li><a id="menu-link-3" href="javascript:void(0);">SUSHI</a></li>
            <li><a id="menu-link-4" href="javascript:void(0);">DRINKS</a></li>
            <li><a id="menu-link-5" href="javascript:void(0);">SOUPS/SALADS</a></li>
            <li><a id="menu-link-6" href="javascript:void(0);">ENTREES</a></li>
            <li><a class="last" id="menu-link-7" href="javascript:void(0);">HAPPY HOUR</a></li>
        </ul>
        <div id="menu-items">
            <ul id="menu-pages">
                <li id="menu-page-1">
                    <h3>Page 1</h3>
                </li>
                <li id="menu-page-2">
                    <h3>Page 2</h3>
                </li>
                <li id="menu-page-3">
                    <h3>Page 3</h3>
                </li>
                <li id="menu-page-4">
                    <h3>Page 4</h3>
                </li>
                <li id="menu-page-5">
                    <h3>Page 5</h3>
                </li>
                <li id="menu-page-6">
                    <h3>Page 6</h3>
                </li>
                <li id="menu-page-7">
                    <h3>Page 7</h3>
                </li>
            </ul>
        </div>
    </div>
    <div id="menu-controls">
        <div id="menu-control-left">
            <a id="menu-left" href="javascript:void(0);"><img src="~/Images/menu-leftarrow.png" /></a>
            <a id="menu-right" href="javascript:void(0);"><img src="~/Images/menu-rightarrow.png" /></a>
        </div>
    </div>
</div>