#about-us-bm {}

#about-us {
    height:700px;
    margin-bottom:-19px;
    background: url(../images/aboutus/aboutus-background.png) no-repeat transparent;
    background-position:0 top;
    overflow:hidden;
}

#about-us .wrapper {
    background: url(../images/aboutus/aboutus-circle.png) no-repeat transparent;
    background-position:57px 68px;
    height:100%;
}

.blurred-sushi {
    background-image:url(../images/aboutus/blurred-sushi.png);
    background-repeat:no-repeat;
    background-position: 0 350px;
    background-color:transparent;
}

#about-us .title {
    font-family:'PacificoRegular';
    text-decoration: none;
    font-size: 69px;
    color:#F54B4B;
    text-align:center;
    margin-top:120px;
}
#about-us .body {
    font-family:OpenSansRegular;
    font-size:14px;
    line-height:26px;
    color:#333;
    text-align:center;
}

#parallax-sushi .caviar {
    background-image:url(../images/aboutus/sushi-1.png);
    background-repeat:no-repeat;
    background-position: 150px 0;
    background-color:transparent;
    height:70px;
    margin-top:97px;
    position:relative;
    z-index:2000;
}

#parallax-sushi .shrimp {
    background-image:url(../images/aboutus/sushi-2.png);
    background-repeat:no-repeat;
    background-position: 50px 0;
    background-color:transparent;
    height:167px;
    margin-top:15px;
    position:relative;
    z-index:1000;
}

#parallax-sushi .rice {
    background-image:url(../images/aboutus/sushi-3.png);
    background-repeat:no-repeat;
    background-position: 50px 0;
    background-color:transparent;
    height:158px;
    margin-top:-60px;
    position:relative;
}

#parallax-sushi .chopsticks {
    background-image:url(../images/aboutus/chopsticks.png);
    background-repeat:no-repeat;
    background-position: 0 0;
    background-color:transparent;
    height:110px;
    margin-top:-15px;
    position:relative;
}

#movie-player-overlay {
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    position:fixed;
    opacity:0.5;
    width:100%;
    height:100%;
    z-index:10000;
    background-color:#000;
}
#movie-player-container {
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    width:100%;
    height:100%;
    position:fixed;
    z-index:10100;
}
#movie-player {
    width: 825px;
    height:425px;
    margin:auto;
    z-index:20000;
    -webkit-box-shadow: 0px 0px 40px 10px ;
    box-shadow: 0px 0px 40px 10px ; 
}
#movie-iframe {
    width:100%;
    height:100%;
    border:none;
}


