#connect .connect-container {
	background: url("../images/connect-background.png") no-repeat scroll 0 0 transparent;
	height: 705px;
}

#connect .bubble-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#connect .title 
{
	color: #FFFFFF;
    font-family: 'PacificoRegular';
    font-size: 69px;
    text-align: center;
    padding-top:12px;
}

#connect .bubble
{
	background: url("../images/tweet-background.png") no-repeat scroll 0 0 transparent;
	color: #FFF;
	width: 250px;
	height: 230px;
	padding: 85px 33px 0 33px;
	position: absolute;
	text-align: center;
}

#connect .bubble.one 
{
	top: 90px;
	left: 0px;	
}

#connect .bubble.two 
{
	top: 450px;
	left: 50px;	
}

#connect .bubble.three 
{
	top: 275px;
	left: 350px;	
}

#connect .bubble.four 
{
	top: 45px;
	left: 655px;	
}

#connect .bubble.five 
{
	top: 500px;
	left: 650px;	
}