/*#home { height: 660px;background-color: yellow;}
#home .logo-cont {max-width: 960px;margin: 0 auto;position: relative;}
#home .logo-cont img { position: absolute;left: 0;top: 115px;}
#home .highlights { max-width: 1440px;height: 200px;}
*/
#home .highlights {
    width: 100%;
    height: 201px;
    background: url('../Images/home-hightlights-bg.png') 50% 100% no-repeat;
    position: absolute;
    margin-top: -201px;
    right: 0;
    z-index: 1000;
}
#home .highlights .content {width: 960px;margin: 0 auto;}
#home .highlights .content .logo {margin-top: -355px;float:left;}
#home .highlights .content ul {margin: 0;padding: 0;list-style-type: none;z-index: 1002}
#home .highlights .content ul li { float: left;width: 310px;margin-right: 10px;}
#home .highlights .content ul li img { float: left;margin: -38px 0 0 -25px;}
#home .highlights .content ul li p { float: left;width: 275px;font-family: 'OpenSansBold';color: #FFF;margin: 0 0 4px;}
#home .highlights .content ul li.featured p{ width: 180px;}
#home .highlights .content ul li a,
#home .highlights .content ul li a:active { color: #ef3b3b;text-decoration: none;font-family: 'OpenSansBold';}
#home .highlights .content ul li a:hover {color:#fff000}
#home .highlights .content ul li a { padding-left: 18px;background: url('../Images/feature-link-bullet.png') no-repeat 5px 50%;}
#home .highlights .content ul li h3 {margin:5px 0; font-family: 'PacificoRegular';color: #FFF;font-size: 32px;}
#home .slides_container {height: 660px;}
#home #home-slides .pagination { display: none;}


.next {
    z-index: 10;
    color: transparent;
    margin: -330px 20px 20px;
    height: 43px;
    width: 43px;
    background: url('../Images/menu-rightarrow.png');
    position: relative;
    float: right;
}

.prev {
    background: url('../Images/menu-leftarrow.png');
    color: transparent;
    float: left;
    height: 43px;
    margin: -330px 20px 20px;
    position: relative;
    width: 43px;
    z-index: 10;
}