#instagram {
    max-width: 1400px;
    overflow: hidden;
}

#photos {
    margin: 0;
    padding: 0;
    display:block;
    width: 5000px;
}

#photos a, #photos img {
    display: inline-block;
    float: left;
}