#jobs {
    background:url(../images/jobs/jobs-background.png) no-repeat transparent;
    height:700px;
    overflow-x:hidden;
    overflow-y:visible;
}
#jobs .shadow {
}
.jobs-content {
    width:960px;
    margin:0 auto;
    position:absolute;
}
#jobs .picture1 {
    width:533px;
    height:437px;
    position:absolute;
    top:-47px;
    z-index:1;
    left:0px;
    background: url(../images/jobs/jobs-painting-1.png) no-repeat transparent;
}
#jobs .picture2 {
    width:598px;
    height:492px;
    position:absolute;
    top:124px;
    left:203px;
    z-index:2;
    background: url(../images/jobs/jobs-painting-2.png) no-repeat transparent;
}

#jobs .circle {
    position:absolute;
    left:751px;
    top:75px;
    width:534px;
    height:534px;
    background: url(../images/jobs/jobs-circle.png) no-repeat transparent;
}
#jobs .circle .title {
    font-family:PacificoRegular;
    font-size: 65px;
    text-align:center;
    color:#BD2424;
}

#jobs .circle .body {
    font-family:OpenSansRegular;
    font-size:14px;
    color:#333;
    width:400px;
    text-align:center;
    position:absolute;
    left:70px;
    top:150px;
    line-height:22px;
}
