#map-canvas 
{ 
    height: 700px;
}

#maps .map-container 
{
	position:relative;
}

#maps .map-overlay 
{
	background-image: url("../images/map-overlay.png");
	position:absolute;
	height:100%;
	width:329px;
	top: 0px;
	right: 200px;
}

#maps .address {
	text-align:center;
	position:absolute;
	right: 242px;
	width:250px;
	font-family:'BebasNeueRegular';
    font-size: 30px;
    line-height: 28px;
    color: #FFF;
}

#maps .mpls-overlay {
	top: 124px;
}

#maps .paul-overlay {
	top: 380px;
}

#maps .city
{
	font-family:'PacificoRegular';
    font-size: 44px;
    line-height: 80px;
    margin-bottom: 2px;
}

#maps .map-info-window .title {
	font-weight:bold;
}