#menu {
    margin-top: -20px;
    max-width: 1400px;
    min-width: 960px;
    height:718px;
    background: url('../Images/menu-background.png') no-repeat;
}
#menu-inner {
    width: 960px;
    margin: 0 auto 0;
}

#menu h2 {
    font-family: 'PacificoRegular';
    color: #ffffff;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    margin-bottom: -5px;
}

.menu-links {
    padding: 0;
    list-style: none;
    display: inline;
}

.menu-links li {
    list-style: none;
    display: inline;
    padding-right:50px;
}

.menu-links li.last {
    padding-right:0px;
}

.menu-links li a {
    font-family: 'BebasNeueRegular';
    font-size: 31px;
    text-decoration: none;
    color: #fff000;
}

.menu-links li a.active, .menu-links li a:hover {
    color: #ffffff;
}

.menu-items {
    width:960px;
    height:520px;
    margin: 0 auto 0;
}

.menu-items div {
    width:960px;
    height:520px;
    display:block;
}

.menu-items ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

.menu-items .col {
    padding-right: 10px;
    width: 310px;
    display: inline-block;
    vertical-align: top;
}

.menu-items .col.last {
    padding-right: 0;
}

.menu-items .col h3 {
    color: #ffffff;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 0;
}

.menu-items .col p {
    color: #ffffff;
    font-family: 'OpenSansRegular';
    font-weight: normal;
    font-size: 16px;
    margin-top: 0;
}

#menu .pagination {
    display: none;
}

#menu-controls {
    min-width: 960px;
    margin-top: -360px;
}

#menu-controls a {
    margin: 20px;
    height: 43px;
    width: 43px;
}

.menu-right {
    background: url('../Images/menu-rightarrow.png');
    float: right;
}

.menu-left {
    background: url('../Images/menu-leftarrow.png');
    float: left;
}